#weekView(ng-cloak)
  div
    .week_header
      i.glyphicon.pull-left.week-chevron.glyphicon-chevron-left.bigger-icon.week_prev(class="btn btn-large btn-info"  ng-click='wCtrl.previous()') 
      span.week_header_title {{wCtrl.Start | date: 'd MMM yyyy'}} - {{wCtrl.End | date: 'd MMM yyyy'}}
      i.glyphicon.pull-right.week-chevron.glyphicon-chevron-right.bigger-icon.week_next(class="btn btn-large btn-info" ng-click='wCtrl.next()')

    .content_for_week(time-week-directive events-week-directive)
      table.week_in_table(width='100%')
        col.header(width='12,5%')
        col.days(width='12,5%' span='7')
        tr
                th.tg-month-yw4l.month-day-header 
                th.tg-month-yw4l.month-day-header Mon
                th.tg-month-yw4l.month-day-header Tue
                th.tg-month-yw4l.month-day-header Wed
                th.tg-month-yw4l.month-day-header Thu
                th.tg-month-yw4l.month-day-header Fri
                th.tg-month-yw4l.month-day-header.dayoff Sat
                th.tg-month-yw4l.month-day-header.dayoff Sun
        tr(ng-repeat="timeSt in wCtrl.timeStamps")
          td.hourCell {{timeSt.time}}
          //-td.eventCell(ng-repeat="day in wCtrl.daysNames"ng-class='{{$index}}', ng-dblclick = 'wCtrl.createEvent(0, $index)')
          td.eventCell.mon(ng-class='{{$index}}', ng-dblclick = 'wCtrl.createEvent(0, $index)')
          td.eventCell.tue(ng-class='{{$index}}', ng-dblclick = 'wCtrl.createEvent(1, $index)')
          td.eventCell.wed(ng-class='{{$index}}', ng-dblclick = 'wCtrl.createEvent(2, $index)')
          td.eventCell.thu(ng-class='{{$index}}', ng-dblclick = 'wCtrl.createEvent(3, $index)')
          td.eventCell.fri(ng-class='{{$index}}', ng-dblclick = 'wCtrl.createEvent(4, $index)')
          td.eventCell.sat(ng-class='{{$index}}', ng-dblclick = 'wCtrl.createEvent(5, $index)')
          td.eventCell.sun(ng-class='{{$index}}', ng-dblclick = 'wCtrl.createEvent(6, $index)')

