doctype html
html(lang="en")
	head
		meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
		title Calendar
		link(href="images/favicon.png", rel="icon" type="image/png")
		link(href="styles/css/libs.css", rel="stylesheet")
		link(href="styles/css/style.css", rel="stylesheet")
	body
		block content
		script(src="https://apis.google.com/js/client.js")
		script(src="javascripts/libs.js")
		script(src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js")
		script(src='javascripts/main.js')
		script(src='//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.2.js')
		script.
			angular.bootstrap(document, ['calendar-app']);