div(ng-repeat='event in day.events')
    div.month-event(uib-popover='Strating at {{event.momentStartDate.format("HH:mm")}}', popover-trigger='mouseenter', popover-title="{{event.title | limitTo: maxEventNameLength}}") {{event.title}}