.left-sidebar
 	padding 0

.filters 
	padding-left 10px

ul 
	list-style-type none
	padding 0

.navbar-brand > img
	-o-object-fit contain
	object-fit contain
	max-height 100%
	height 100%
	max-width 100%
	width auto
	margin 0 auto
	
.nav-item 
	clear both
.schedule-item
	cursor pointer
.schedule-label
	cursor pointer
.navbar-brand
	padding 15px 15px
	margin-top 0px
	height 50px

#navbar > ul > li
	font-weight bold
	padding 0 10px

.nav-filters
	margin-top 5px
	display inline-flex

.navbar-header > .nav > li
	margin-left 10px

.navbar-header > .nav > li > .dropdown-menu > li
	margin 5px 10px