[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
    display none !important

.main-content
    display relative

.right-sidebar
    padding 0

.content-for-day
    height 550px
    overflow-y scroll
    position relative

ul
    list-style-type none
    padding 0

.bigger-icon 
    font-size 1em
    color black

.right-sidebar > .row > ul > li > a:hover
    color #FFD604

.eventInfo 
    padding 10px

#eventName, #eventDescription,#eventAuthor, #eventRoom, #eventParticipants 
    margin 5px 0

.hourCell 
    width 5%
    background-color #f0f0f0
    border-style solid
    border-width 1px
    border-color #ccc

.eventCell
    text-align center
    width 85%
    position relative


.event-wrapper
    height 100%

.event
    background yellow
    position absolute
    top 0
    left 0
    z-index 1
    border-radius 5px
    padding 5px
    -webkit-box-shadow 0px 5px 3px 0px rgba(50, 50, 50, 0.62)
    -moz-box-shadow 0px 5px 3px 0px rgba(50, 50, 50, 0.62)
    box-shadow 0px 5px 3px 0px rgba(50, 50, 50, 0.62)
    transition all .2s ease-in-out
    cursor pointer

.event:hover
    -webkit-box-shadow 0px 8px 3px 1px rgba(50, 50, 50, 0.62)
    -moz-box-shadow 0px 8px 3px 1px rgba(50, 50, 50, 0.62)
    box-shadow 0px 8px 3px 1px rgba(50, 50, 50, 0.62)
    transform scale(1.05)
    z-index 2

.working-hour
    background #D9EAF5

.event-table
    height 450px
    overflow-x auto
    overflow-y scroll
    -webkit-overflow-scrolling touch
    -ms-overflow-style -ms-autohiding-scrollbar
    border: 1px solid #ddd;
    border-right 0

.event-table > #calendar > tbody > tr:last-child > th,
.event-table > #calendar > tfoot > tr:last-child > th,
.event-table > #calendar > tbody > tr:last-child > td,
.event-table > #calendar > tfoot > tr:last-child > td
    border-bottom: 0;


.input-group
    margin-bottom 5px

.main-content
    padding 0

.day-header
    padding 5px 0
  
.current-day,
.day-prev,
.day-next
  font-size 2em

.current-day
  line-height 2em

.date-picker
    font-size 1em !important

.save-area
    text-align center


.hidden-checkbox
    display none

.day-event-blocks
  position absolute
  width 100%
  background grey
  opacity 0.3
  box-sizing border-box
  border 1px solid black
  color white
  cursor pointer
  -webkit-transition box-shadow 0.1s linear
  -moz-transition box-shadow 0.1s linear
  -o-transition box-shadow 0.1s linear
  transition box-shadow 0.1s linear
  resize vertical
  &:hover
    box-shadow 0 0 15px black
    .event-info
      display block !important
      -webkit-transition display 0.1s linear
      -moz-transition display 0.1s linear
      -o-transition display 0.1s linear
      transition display 0.1s linear
#day-events-place
  overflow hidden
  height 888px !important
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  -o-user-select none
  user-select none

