.month-header
  text-align center
  line-height 2em
  font-size 2em
.month-header-title
  //font-size 40px

.month-toggle
  //width 50px

  cursor pointer

.month-badge
  background-color #65B2CA
  
.month-chevron
  cursor pointer
  //margin-top 10px
  
.pull-left 
  float left
.pull-right 
  float right
  
.month-table-grid
  border-collapse collapse
  border-spacing 0
  border-color #ccc
  table-layout fixed
  td
    font-family Arial, sans-serif
    font-size 14px
    padding 10px 5px
    border-style solid
    border-width 1px
    overflow hidden
    word-break normal
    border-color #ccc
    color #333
    background-color #fff
  th
    font-family Arial, sans-serif
    font-size 14px
    font-weight normal
    padding 10px 5px
    border-style solid
    border-width 1px
    overflow hidden
    word-break normal
    border-color #ccc
    color #333
    background-color #f0f0f0
  .tg-month-yw4l
    vertical-align top
    width 250px
    height 100px
  .month-day-header
    height 50px
    text-align center
    font-size large
  .month-day
    text-align right
  .month-day-today
    background-color rgba(100, 182, 237, 0.25)
  .different-month
    color #D6D4D4
  .month-event
    background-color rgba(133,210,133,0.45)
    color black
    text-align left
    border-bottom-style solid
    border-bottom-color #FFFFFF
    cursor pointer
  .month-all-events
    outline 0
  .popover
    color black