
.time-line-week
    width 100%
    height 1px
    background-color red
    z-index 10
    position absolute
    left 0
    opacity 0.7
    
.event-cell-week
    width 100%

    font-size 1rem
    border-radius 3px  

.week_header
  text-align center
  line-height 2em
  font-size 2em
  //padding-top 10px

  .week_prev
    //float left !important
    //font-size 18px

  .week_next
    //float right !important
    //font-size 18px      

  .week_header_title
    //font-size 32px


.content_for_week
  height 550px
  overflow-y scroll
  //float right

.week_in_table
  table-layout fixed
  text-align center

  .month-day-header
    height 50px
    text-align center
    font-size large

  td
    padding 10px 5px
    border-style solid
    border-width 1px
    border-color #ccc
    position relative

  th
    font-size 16px
    font-weight normal
    padding 10px 5px
    border-style solid
    border-width 1px
    border-color #ccc
    background-color #f0f0f0
    text-align center

