#year-content
    border 1px solid lightgray

.month
    height 200px
    
//Table cell decoration
table tr td.dayoff, table tr th.dayoff
    color red

table tr td.day-now
    border 1px solid black

table tr td.day-past
    opacity 0.5
    
//Month table animation   
.year-month-table
    width 100%
    margin 5% 0 10% 0
    -webkit-transition all linear 0.5s
    -moz-transition all linear 0.5s
    -o-transition all linear 0.5s
    transition all linear 0.5s

.year-month-table.ng-enter
    opacity 0
    top -100%

.year-month-table.ng-enter.ng-enter-active
    opacity 1 
    top 0   

//Slider animation
.year-slider
    display flex
    justify-content space-between
    height 100px

.slider-container
    display inline-block
    text-align center

.btn-right
    float right

.btn-left
    float left
  
.slide
    display inline-block
    vertical-align middle
    margin 10px

.slide.ng-move, .slide.ng-enter, .slide.ng-leave
    -webkit-transition all linear 0.5s
    -moz-transition all linear 0.5s
    -o-transition all linear 0.5s
    transition all linear 0.5s

.slide.ng-leave.ng-leave-active, .slide.ng-move, .slide.ng-enter
    left -100%
    opacity 0


.slide.ng-leave .slide.hg-move.ng-move-active, .slide.ng-enter.ng-enter-active
    opacity 1
    left 0

.font-animate
    font normal 1em sans-serif
    -webkit-transition all linear 0.5s
    -moz-transition all linear o.5s
    -o-transition all linear 0.5s
    transition all linear 0.5s

.animate-big
    font-weight bold 
    font-size 2em













    
    
